* {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 300px;
    box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */ 0 10px 0 -5px #eee,
        /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */ 0 20px 0 -10px #eee,
        /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.header-main {
    background-color: #7b7b7b;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.checklist {
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 30px;
}

.single-box {
    padding: 5px 0px 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #555;
}

.single-box p {
    margin-left: 10px;
}
